@import 'util/normalize'
@import 'util/helper'
@import 'util/constant'
@import 'util/icon-font'

body {
  font-size: 14px;

  background url('../images/modern-abstract-background_1048-1003.jpg')

  .element {
    background: green url('../images/icons/PinDownArrow128.png');
    color: white;
    padding: 20px;
  }
}