@import 'util/normalize'
@import 'util/helper'
@import 'util/constant'
@import 'util/icon-font'

body {
  font-size: 14px;

  background url('../images/pop-1.png')

  .element {
    background-color: green;
    color: white;
    padding: 20px;
  }
}